* {
    outline: 1px dotted rgba(255, 0, 0, 0);
    margin: 0;
    padding: 0;
}

body,html {
    font-family: Inter, sans-serif;
}



/*----------------------------------   Color text selection
*/

*::-moz-selection { background: rgb(231, 231, 231);}
*::selection { background: rgb(231, 231, 231);}



/*----------------------------------   Hide Scrollbar
*/

*::-webkit-scrollbar {display: none;}
* {-ms-overflow-style: none; scrollbar-width: none;}



/*----------------------------------   Header
*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

header > img {
    width: 400px;
}



/*----------------------------------   Body
*/

.panels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20vh 100px 0 100px;
}

.panels > div > a { filter: drop-shadow(0 0 8px rgb(166, 166, 166)); }

.panels > div > a > img {
    width: 450px;
    margin: 20px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
    transition: all 0.1s ease-in-out;
}

.panels > div > a > img:hover {
    transform: scale(1.02);
    border: 3px solid black;
    background-color: black;
}

.panels > div > p {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 0 0;
}


/*----------------------------------   Footer
*/

.credentials {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

.credentials > * {
    font-size: calc(0.25vw + 8px);
    opacity: 0.15;
}




/*----------------------------------   Tiny Screens
*/

@media only screen and (max-width: 1100px) {

    header { margin: 30px 0 30px 0; }
    header img { width: calc(170px + 10vh + 10vw); }

    .panels {
        flex-direction: column;
        margin: 0;
    }

    .panels > div > a > img {
        max-width: 400px;
        width: 90vw;
        margin: 5px 0;
        border-radius: 13px;
        border: 3px solid rgba(255, 255, 255, 0);
        transition: all 0.1s ease-in-out;
    }

    .panels > div > a > img:active {
        transform: scale(1.02);
        border: 3px solid black;
        background-color: black;
    }

    .panels > div > a { filter: drop-shadow(0 0 2px rgb(134, 134, 134)); }
    

    .panels > div > p {
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    .credentials {
        opacity: 0;
    }
}



/*----------------------------------   Small screens
*/

@media only screen and (max-width: 1500px) and (min-width: 1101px) {

    .panels > div > a > img {
        width: 300px;
        border-radius: 13px;
        border: 3px solid rgba(255, 255, 255, 0);
        transition: all 0.1s ease-in-out;
    }

    .panels > div > p {
        font-size: 17px;
        margin: 0;
    }
}



/*----------------------------------   Small heights
*/

@media only screen and (min-width: 1101px) and (max-height: 450px) {

    .credentials { opacity: 0; }
}



/*----------------------------------   Large screens
*/

@media only screen and (min-width: 2000px) {

    .panels { margin: 20vh 14vw 0 14vw; }
    
    .panels > div > a > img {
        width: 20vw;
        border-radius: 20px;
        border: 5px solid rgba(255, 255, 255, 0);
        transition: all 0.1s ease-in-out;
    }

    .panels > div > a > img:hover {
        transform: scale(1.02);
        border: 5px solid black;
    }

    .panels > div > p { font-size: 1.5vw; }
}