* {
    outline: 1px dotted rgba(255, 0, 0, 0);
    margin: 0;
    padding: 0;
}

body,html {
    font-family: Inter, sans-serif;
    height: 100%;
    overflow-x: hidden;
}



/*----------------------------------   Color text selection
*/

*::-moz-selection { background: rgb(231, 231, 231);}
*::selection { background: rgb(231, 231, 231);}


/*----------------------------------   Hide Scrollbar
*/

*::-webkit-scrollbar {display: none;}
* {-ms-overflow-style: none; scrollbar-width: none;}



/*----------------------------------   Header
*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
    background-color: white;
}

.main-logo {
    width: 350px;
    margin: 0 0 0 10px;
}



/*----------------------------------   Navigation
*/

.nav {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 3;
    margin: 5px;
    filter: opacity(0%);
    animation: nav-fade 0.3s ease-in-out 0.5s 1 normal forwards;
    pointer-events: none;
}

@keyframes nav-fade {
    0% {filter: opacity(0%);}
    100% {filter: opacity(100%);}

}

.nav-map {
    position: relative;
    background-color: #ffffff71;
    -webkit-backdrop-filter: blur(6px); /* Add this line first, it fixes blur for Safari*/
    backdrop-filter: blur(6px);  /* This line activates blur*/
    padding: 22px 40px 18px 40px;
    border-radius: 20px;
    margin: 0 auto;
    width: 38px;
    height: 75px;
    filter: drop-shadow(0px 3px 8px rgb(150, 150, 150));
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0 0;
    grid-template-areas: 
        "m1 m4"
        "m2 m5"
        "m3 m6"
        "m7 m7"; 
    pointer-events: all;
}

.nav-map > a > div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #9f9f9f;
}

.nav-map > a > div:hover {
    border: 2px solid #4f4f4f;
    /*background-color: #87b5c6;*/
}

.nav-map > a > div:active {
    border: 2px solid #4f4f4f;
    background-color: #4f4f4f;
}

.m1 {grid-area: m1;}
.m2 {grid-area: m2; margin-left: -5px;}
.m3 {grid-area: m3;}
.m4 {grid-area: m4; margin-left: -5px;}
.m5 {grid-area: m5;}
.m6 {grid-area: m6; margin-left: -5px;}
.m7 {grid-area: m7; justify-self: center; margin-left: 9px;}

#highlighted {border: 2px solid #9f9f9f; background-color: #9f9f9f;}
#highlighted:hover {border: 2px solid #4f4f4f; background-color: #4f4f4f;}


/*----------------------------------   Background Page Number
*/


.page-number {
    position: absolute;
    z-index: -10;
    font-size: 200px;
    font-weight: 900;
    color: rgb(247, 207, 202);
    bottom: 0px;
    opacity: 0.9;
}

#pg-nr-left { left: 10px; }
#pg-nr-right { right: 10px; }


/*----------------------------------   Module
*/

.main {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titles {
    width: calc(500px + 25vw);
    margin: 0 0 calc(40px - 3vw) 0;
}

h1,h2 {
    cursor: default;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1 {
    margin: 25px 0 calc(13vh - 40px) 0;
    font-size: 18px;
    font-weight: 200;
}

h2 {
    margin: 0 0 30px 0;
    width: 500px;
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
    color: #f7cfca;
}

h3 {
    margin: 0 0 0 0;
    width: 400px;
    font-size: 20px;
    font-weight: 600;
    pointer-events: none;
}

.main > img {
   width: calc(400px + 40vw);
    pointer-events: none;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5vh 1vw 0 1vw;
}

.text > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.text > div > span {
    position: relative;
    top: 36px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 11px;
    border-radius: 20px;
    width: auto;
}

.text > div > p {
    margin: 20px 0 -10px 0;
    width: 400px;
    font-size: 14px;
    line-height: 22px;
    padding: 25px 20px 25px 20px;
    border-radius: 20px;
}

.text > div > br {line-height: 200px;}

#blue > p {background-color: #7c93bf4d;}
#blue > span {background-color: #7c94bf;}
#blue > p > b {color: #2e3b55;}

#orange > p {background-color: #ee81684d;}
#orange > span {background-color: #ee8168;}
#orange > p > b {color: #723b2e;}



/*----------------------------------   Page Blocker
*/

.page-blocker {
    width: 100%;
    height: 100%;
    background-color: #0098D4;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 0px;
    left: 0px;
    pointer-events: none;
    opacity: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.page-blocker > img {
    width: 400px;
    margin: 5px 5px 40px 5px;
}

.page-blocker > p {
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
    width: 340px;
    text-align: center;
}


@media only screen and (max-width: 1100px) {

    header {margin: 30px 0 0 0;}
    .main-logo {width: calc(170px + 10vh + 10vw);}

    h1 {
        margin: 10px 0 calc(11vh - 20px) 0;
        font-size: 18px;
    }

    h2 {
        width: 400px;
        font-size: 27px;
    }

    h3 {
        width: 85vw;
        font-size: 20px;
    }

    .titles {
        width: 80vw;
        margin: 4vh 0 calc(40px - 3vw) 0;
    }

    .main > img {
        width: 100vw;
         pointer-events: none;
    }

    .text > div > p {
        margin: 20px 0 -10px 0;
        width: 80vw;
        max-width: 400px;
    }

    .text {margin: 5vh 1vw 0 1vw;}

}